.people-num {
  margin: 10px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  button {
    margin-left: 10px;
  }
  .label {
    font-size: 14px;
    span {
      color: rgba(0,0,0,0.45);
    }
  }
  .people-num {
    display: flex;
  }
}