.top {
  display: flex;
  gap: 15px;
  margin: 10px 0;
  align-items: center;
  input {
    width: 200px;
  }
}

.detail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-people-table {
  .ant-table-cell {
    padding: 10px !important;
  }
}